.calculators-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.calculator {
    border: 1px solid #508597;
    background-color: #508597;
    border-radius: 10px;
    padding: 2% 3% 4% 3%;
    width: 30%;
    margin: auto;
    margin-top: 100px;
}

.forms-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

h1 {
    margin-top: 0;
    color: #e7e3dd;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.input {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    border-radius: 6px;
}

.calc-button {
    background-color: #D5D0CA;
    color: #54391c;
    border: 1px solid #D5D0CA;
    border-radius: 6px;
    margin-top: 10px;
    padding: 10px;
}

.calc-button:hover {
    background-color: #c9c0b5;
    border-color: #c9c0b5;
}

.arrow-down {
    height: 30px;
    width: 30px;
    margin: auto;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    .arrow-down {
        height: 20px;
        width: 20px;
    }

}

@media screen and (max-width: 480px) {
    .calculator {
        width: 50%;
    }

    h1 {
        font-size: 24px;
    }

    .buttons-section {
        display: flex;
        flex-direction: column;
    }

    .calc-button {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 16px;
    }

    .arrow-down,
    .input {
        margin-top: 5px;
    }

    .calc-button {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 240px) {
    .calculator {
        width: 70%;
    }

    h1 {
        font-size: 16px;
    }
}
